/* TODO: COMMENTS */

body {
	width: 1680px;
	height: 920px;
	margin: 0;
	background: url("img/map.png") no-repeat fixed center;
}

.plot {
	position: absolute;
	margin: 0;
	background: rgba(255, 255, 255, 0.3);
	width: 25px;
	height: 25px;
	border: rgba(0, 0, 0, 0.5) solid 1px;
	border-radius: 3px;
	box-sizing: content-box; /* overriding bootstrap default */
}

.plotMaximized {
	position: absolute;
	margin: 0;
	background: rgba(255, 255, 255, 0.7);
	width: 75px;
	height: 75px;
	border: rgba(0, 0, 0, 1) solid 1px;
	border-radius: 3px;
	box-sizing: content-box;
}

#plotTemplate {
	display: none;
}

#plotMaximizedTemplate {
	display: none;
}

label {
	margin-top: .5rem;
}

/*noinspection CssUnusedSymbol*/
#plot-W {
	opacity: 0;
	border: yellow solid 1px;
}

/*noinspection CssUnusedSymbol*/
#plot-W:hover {
	opacity: 1;
}

.plotNumber {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

a {
	color: inherit;
}

/*noinspection CssUnusedSymbol*/
.corral {
	background-color: rgba(255, 192, 203, 0.7);
}

/*noinspection CssUnusedSymbol*/
.garden {
	background-color: rgba(0, 128, 0, 0.7);
}

/*noinspection CssUnusedSymbol*/
.coop {
	background-color: rgba(128, 128, 128, 0.7);
}

/*noinspection CssUnusedSymbol*/
.pond {
	background-color: rgba(0, 0, 255, 0.7);
}

/*noinspection CssUnusedSymbol*/
.silo {
	background-color: rgba(205, 133, 63, 0.7);
}

/*noinspection CssUnusedSymbol*/
.incinerator {
	background-color: rgba(255, 0, 0, 0.7);
}

.plotType {
	display: none;
	text-transform: capitalize;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: black;
	text-shadow: 0 0 10px white;
	margin: 0;
}

.corralContent {
	display: none;
	align-items: center;
	justify-content: center;
	height: 57px;
}

.corralContent img {
	width: 30px;
}

.corralContent p {
	margin: 0;
}

.corralContent div {
	float: left;
}

.plotContent {
	display: none;
	align-items: center;
	justify-content: center;
	height: 57px;
}

.plotContent div {
	margin: 0;
}

.plotContent img {
	width: 50px;
}
