body {
	width: 1680px;
	height: 920px;
	margin: 0;
	background: url("map.png") no-repeat fixed center;
}

.plot {
	position: absolute;
	margin: 0;
	background: rgba(255, 255, 255, 0.3);
	width: 25px;
	height: 25px;
	border: rgba(0, 0, 0, 0.5) solid 1px;
	border-radius: 3px;
	box-sizing: content-box; /* overriding bootstrap default */
}

.plotMaximized {
	position: absolute;
	margin: 0;
	background: rgba(255, 255, 255, 0.7);
	width: 75px;
	height: 75px;
	border: rgba(0, 0, 0, 1) solid 1px;
	border-radius: 3px;
	box-sizing: content-box;
}

#plotTemplate {
	display: none;
}

#plotMaximizedTemplate {
	display: none;
}

label {
	margin-top: .5rem;
}

#plot-W {
	opacity: 0;
	border: yellow solid 1px;
}

#plot-W:hover {
	opacity: 1;
}

.plotNumber {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

a {
	color: inherit;
}
